{% extends "header.html" %}
{% block content %}

<div class="container">
    <div class="card text-center">
        <div class="card-header">
            {# Greeting #}
            <h3>Hello, {{ current_user.username }}!</h3>
        </div>
        <div class="card-body">
            {% if current_user.profile_pic %}
                <img class="mr-3 propic" src="{{ url_for('users.images', username=current_user.username) }}" />
            {% endif %}
            <div class="text-left">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="alert alert-warning"><strong>{{message}}</strong></p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <h3>Change your username</h3>
                {# Username Update Form #}
                <form method="POST" action="?name">
                    {{ user_form.csrf_token }}
                    <div class="row">
                        <div class="col-6 form-group">
                            {{ user_form.new_username.label }}
                            {{ user_form.new_username(class="form-control") }}
                        </div>
                        {% if user_form.new_username.errors %}
                        <div class="col-6 alert alert-warning" role="alert">
                            {% for error in user_form.new_username.errors %}
                            <strong>Error!</strong><br />
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col">{{ user_form.submit() }} </div>
                    </div>
                </form>
                <h3>Update your profile picture</h3>
                {# EXTRA CREDIT #}
                {# Profile Picture Update Form #}
                <form method="POST" enctype="multipart/form-data" action="?photo">
                    {{ photo_form.csrf_token }}
                    <div class="row">
                        <div class="col-6 form-group">
                            {{ photo_form.pic.label }}
                            {{ photo_form.pic(class="form-control") }}
                        </div>
                        {% if photo_form.pic.errors %}
                        <div class="col-6 alert alert-warning" role="alert">
                            {% for error in photo_form.pic.errors %}
                            <strong>Error!</strong><br />
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col">{{ photo_form.submit() }} </div>
                    </div>
                </form>
            </div>
            <p>
                <a href="{{ url_for('main.invite') }}">
                    Invite a friend!
                </a>
            </li>
            <div class="row justify-content-center">
                <div class="col-mid">
                    {# Link to see all of the current user's reviews. #}
                    <a href={{ url_for('users.user_detail', username=current_user.username) }}>See your reviews here!</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}