{% extends "header.html" %}
{% block content %}

{% if error_msg %}
<b>{{ error_msg }}</b>
{% endif %}

{% if game %}

{# Display card for the game details #}
<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        {{ game.name }} ({{ game.release_date }})
      </div>
      <div class="card-body">
        {% if game.cover %}
        <img src="{{ game.cover }}" class="mr-3" alt="{{ game.name }}">
        {% else %}
        <img style="width: 80px; height: 80px;" alt="No cover"/>
        {% endif %}
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> {{ game.storyline if game.storyline else (game.summary if game.summary else "") }} </li>
          <li class="list-group-item"><b>Critic's rating:</b> {{ game.critic_rating }} (out of {{ game.rating_count if game.rating_count else 0 }} reviews)</li>
          <li class="list-group-item"><b>Genres:</b> {{ ", ".join(game.genres) if game.genres is not string else game.genres }} </li>
          <li class="list-group-item"><b>Platforms:</b> {{ ", ".join(game.platforms) if game.platforms is not string else game.platforms }} </li>
          <li class="list-group-item"><b>Time to beat:</b> {{ game.time_to_beat }} </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="row justify-content-between">
  <div class="col-4">
    <form method="POST" action="?added">
      {{ add_button.csrf_token }}
      <div class="form-group">
        {{ add_button.submit(class="btn btn-secondary") }}
      </div>
    </form>
  </div>
  <div class="col-4 text-right">
    <form method="POST" action="?played">
      {{ add_to_played_button.csrf_token }}
      <div class="form-group">
        {{ add_to_played_button.submit(class="btn btn-secondary") }}
      </div>
    </form>
  </div>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p class="alert alert-warning"><strong>{{message}}</strong></p>
        {% endfor %}
    {% endif %}
{% endwith %}


{# Reviews #}
<div class="row">
  <div class="col-md-12">
    <h1> Reviews <small class="float-right">{{ reviews.count() }} reviews</small></h1>
    <ul class="media-list">
      {% for review in reviews %}
      <li class="media review-item">
        <div class="media-body">
          <span class="float-right">
            <small>{{ review.date }}</small>
          </span>
          {% if review.commenter.profile_pic %}
              <img class="propic" src="{{ url_for('users.images', username=review.commenter.username) }}"/>
          {% endif %}
          <a href="{{ url_for('users.user_detail', username=review.commenter.username) }}">
            <strong>@{{ review.commenter.username }}</strong>
          </a>
          <p>
            {{ review.content }}
          </p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% if current_user.is_authenticated %}
{# Game review submission form #}
<div class="row">
  <div class="col">
    <form method="POST" action="?reviews">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.text.label }}
        {{ form.text(class="form-control") }}

        {% if form.text.errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in form.text.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}

      </div>
      {{ form.submit(class="btn btn-secondary") }}
    </form>
  </div>
</div>
{% endif %}
{% endif %}

{% if played|length > 0 %}
<div class="row">
  <div class="col-md-12">
    <h1 class="d-flex justify-content-center"> Hear from people who have played! </h1>
    <ul class="media-list">
      {% for game in played %}
      <li class="media review-item">
        <div class="media-body">
          <span class="float-right">
            <small>Finished on: {{ game.finished_on }}</small>
          </span>
          {% if game.user.profile_pic %}
              <img class="propic" src="{{ url_for('users.images', username=game.user.username) }}"/>
          {% endif %}
          <a href="{{ url_for('users.user_detail', username=game.user.username) }}">
            <strong>@{{ game.user.username }}</strong>
          </a>
          <p>
            {{ game.review }}
          </p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

{% endblock content %}