{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h2>Log In</h2>
    </div>
</div>

<div class="row">
    <div class="col">
        <h5><a href="{{url_for('register')}}"> Click here to register </a></h6>
    </div>
</div>

{%with messages = get_flashed_messages()%}
    {%if messages %}
        {%for message in messages %}
            {{ message }}
        {%endfor%}
    {%endif%}
{%endwith%}
<div class="form-group">
    <form method="POST" action="">
        {{ form.csrf_token }}

        <div class="form-group">
            {{form.username.label}}
            {{form.username(class="form-control", placeholder="Please enter your username")}}

            {% if form.username.errors %}
            <div class="alert alert-warning" role="alert">
                {% for error in form.username.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div class="form-group">
            {{form.password.label}}
            {{form.password(class="form-control", placeholder = "Please enter your password")}}

            {% if form.password.errors %}
            <div class="alert alert-warning" role="alert">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {{form.submit()}}
    </form>
</div>

{% endblock %}