{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h2>Log In</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        {# Add link to redirect users to Registration page if they don't have an account #}
        <p>Don't have an account? Register <a href={{ url_for('users.register') }}>here</a>.</p>
    </div>
</div>
{# Optionally show flashed messages if/when you need them,
    if an authentication or other similar error occurs #}
{# Login form rendered here with Bootstrap classes #}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p class="alert alert-warning"><strong>{{message}}</strong></p>
        {% endfor %}
    {% endif %}
{% endwith %}
<form method="POST" action="">
    {{ form.csrf_token }}
    <div class="row">
        <div class="col-6 form-group">
            {{ form.username.label }}
            {{ form.username(class="form-control") }}
        </div>
        {% if form.username.errors %}
        <div class="col-6 alert alert-warning" role="alert">
            {% for error in form.username.errors %}
                <strong>Error!</strong><br/>
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-6 form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
        </div>
        {% if form.password.errors %}
        <div class="col-6 alert alert-warning" role="alert">
            {% for error in form.password.errors %}
                <strong>Error!</strong><br/>
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-6 form-group">
            {{ form.token.label }}
            {{ form.token(class="form-control") }}
        </div>
        {% if form.token.errors %}
        <div class="col-6 alert alert-warning" role="alert">
            {% for error in form.token.errors %}
                <strong>Error!</strong><br/>
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="row"><div class="col">{{ form.submit(class="btn btn-secondary") }}</div></div>
</form>
{% endblock %}