{% extends "header.html" %}
{% block content %}

{% if error_msg %}
<b>{{ error_msg }}</b>
{% endif %}

{% if game %}

{# Display card for the game details #}
<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        {{ game.name }} ({{ game.release_date }})
      </div>
      <div class="card-body">
        <img src="{{ game.cover }}" class="mr-3" alt="alt text">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Rating:</b> {{ game.critic_rating }}</li>
          <li class="list-group-item"><b>Genres:</b> {{ game.genres }} </li>
          <li class="list-group-item"><b>Platforms:</b> {{ game.platforms }} </li>
          <li class="list-group-item"><b>Time to beat:</b> {{ game.time_to_beat }} </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endif %}

{% endblock content %}