{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h2>Registration</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        {# Ask the user to login if they already have an account #}
        <p>If you already have an account, you can log in <a href={{ url_for('users.login') }}>here</a>.</p>
    </div>
</div>
<!-- Registration Form: -->
{# Optionally show flashed messages if/when you need them,
    if an authentication or other similar error occurs #}
{# Registration form rendered with Bootstrap #}
<form method="POST" action="">
    {{ form.csrf_token }}
    <div class="row">
        <div class="col-6 form-group">
            {{ form.username.label }}
            {{ form.username(class="form-control") }}
        </div>
        {% if form.username.errors %}
        <div class="col-6 alert alert-warning" role="alert">
            {% for error in form.username.errors %}
                <strong>Error!</strong><br/>
                <span>{{ error }}</span>
                <br/>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-6 form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
        </div>
        {% if form.email.errors %}
        <div class="col-6 alert alert-warning" role="alert">
            {% for error in form.email.errors %}
                <strong>Error!</strong><br/>
                <span>{{ error }}</span>
                <br/>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-6 form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
        </div>
        {% if form.password.errors %}
        <div class="col-6 alert alert-warning" role="alert">
            {% for error in form.password.errors %}
                <strong>Error!</strong><br/>
                <span>{{ error }}</span>
                <br/>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-6 form-group">
            {{ form.confirm_password.label }}
            {{ form.confirm_password(class="form-control") }}
        </div>
        {% if form.confirm_password.errors %}
        <div class="col-6 alert alert-warning" role="alert">
            {% for error in form.confirm_password.errors %}
                <strong>Error!</strong><br/>
                <span>{{ error }}</span>
                <br/>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="row"><div class="col">{{ form.submit() }}</div></div>
</form>

{% endblock %}