{% extends "header.html" %}
{% block content %}
<div class="row">
    {# Display any error messages #}
    {% if err_msg %}
        <div class="col alert alert-warning">
            <p>{{ err_msg }} Return <a href={{ url_for('main.index') }}>home</a>.</p>
        </div>
    {% endif %}
</div>
{% if user %}
{% if user.profile_pic %}
<div class="text-center">
    <img class="mr-3 propic propic-large user-detail center" src="{{ url_for('users.images', username=user.username) }}" />
</div>
{% endif %}
<div class="row">
    <div class="col">
        <h1>{{ user.username }}'s reviews</h1>
    </div>
</div>
{% if not reviews %}
    <div class="row"><div class="col">This user has not posted any reviews yet!</div></div>
{% else %}
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Game</th>
            <th scope="col">Review</th>
            <th scope="col">Date</th>
            </tr>
        </thead>
        {% for review in reviews %}
            <tbody>
                <tr>
                    <th scope="row"><a href={{ url_for('games.game_detail', game_id=review.game_id) }}">{{ review.game_title }}</a></th>
                    <th>{{ review.content }}</th>
                    <th>{{ review.date }}</th>
                </tr>
            </tbody>
        {% endfor %}
    </table>
</div>
{% endif %}
{% endif %}

{% if user %}
<div class="row">
    <div class="col">
        <h1>{{ user.username }}'s saved games</h1>
    </div>
</div>
{% if not games %}
    <div class="row"><div class="col">This user has not saved any games yet!</div></div>
{% else %}
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Game</th>
            </tr>
        </thead>
        {% for game in games %}
            <tbody>
                <tr>
                    <th scope="row"><a href="{{ url_for('games.game_detail', game_id=game.game_id) }}">{{ game.name }}</a></th>
                </tr>
            </tbody>
        {% endfor %}
    </table>
</div>
{% endif %}
{% endif %}


{% if user %}
<div class="row">
    <div class="col">
        <h1>{{ user.username }}'s played games</h1>
    </div>
</div>
{% if not played %}
    <div class="row"><div class="col">This user has not played any games yet!</div></div>
{% else %}
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Game</th>
            <th scope="col">Review</th>
            <th scope="col">Finished Date</th>
            </tr>
        </thead>
        {% for played in played %}
            <tbody>
                <tr>
                    <th scope="row"><a href="{{ url_for('games.game_detail', game_id=played.game.game_id) }}">{{ played.game.name }}</a></th>
                    <th>{{ played.review }}</th>
                    <th>Finished on {{ played.finished_on }}</th>
                </tr>
            </tbody>
        {% endfor %}
    </table>
</div>
{% endif %}

{% endif %}
{% endblock %}

