{% extends "header.html" %}
{% block content %}
<div class="row">
    {# Display any error messages #}
    {% if err_msg %}
        <div class="col alert alert-warning">
            <p>{{ err_msg }} Return <a href={{ url_for('main.index') }}>home</a>.</p>
        </div>
    {% endif %}
</div>
{% if user %}
<div class="row">
    <div class="col">
        {# Indicate which user's reviews we're looking at #}
        <h1>{{ user.username }}'s reviews</h1>
        {% if user.profile_pic %}
            <img class="mr-3 propic user-detail" src="{{ url_for('users.images', username=user.username) }}" />
        {% endif %}
    </div>
</div>
{# Show all reviews made by the user #}
{% if not reviews %}
    <div class="row"><div class="col">This user has not posted any reviews yet!</div></div>
{% endif %}
{% for review in reviews %}
    <div class="row">
        <div class="col">
            <a href="{{ url_for('games.game_detail', game_id=review.imdb_id) }}">{{ review.game_title }}</a>
        </div>
        <div class="col">
            {{ review.content }}
        </div>
        <div class="col">
            {{ review.date }}
        </div>
    </div>
{% endfor %}
{% endif %}
{% endblock %}