{% extends "header.html" %}
{% block content %}
{% if error %}
    <div class="row">
        <div class="col">
            {{error}}
        </div>
    </div>
{% else %}
    <div class="row">
        <div class="col">
            Reviews from {{username}}
        </div>
    </div>
    {% for review in reviews %}
        <li class="media review-item">
            <div class="media-body">
                <span class="float-right">
                    <small>{{ review.date }}</small>
                </span>
                <strong><a href="{{url_for('movie_detail', movie_id = review.imdb_id)}}">{{ review.movie_title }}</a></strong>
                <p>
                    {{ review.content }}
                </p>
            </div>
        </li>
        {% endfor %}
{%endif%}
{% endblock %}