img {
    max-width: 80;
    padding: 1; 
}

.propic {
    border-radius: 100%;
}

.user-detail {
    max-width: 150;
}

.card-body > img {
    max-width: 200;
}

.media-list {
    border-top: 1px dashed rgb(150, 150, 150);
}

.review-item {
    border-bottom: 1px dashed #a5a5a5;
}

.nav-welcome {
    color: darkgrey;
    font-size: 11pt;
}