.propic {
    border-radius: 100%;
    max-width: 50px;
}

.propic-large {
    max-width: 200px;
}

.card-body > img {
    max-width: 200;
}

.media-list {
    border-top: 1px solid rgb(156, 71, 71);
}

.review-item {
    border-bottom: 1px solid #a5a5a5;
}

.nav-welcome {
    color: darkgrey;
    font-size: 11pt;
}
.home-img > img {
    height: 200;
    width: 200;
}
.carousel-inner > img {
    max-height: 600;
    max-width: 800;
}

.search-bar {
    padding-left: 20px;
}

.search {
    padding-top: 20px;
}

.center-div {
    margin: 0 auto;
    width: 33%
}

.search-text {
    width: 250px !important;
}