img{
    max-width: 80;
}
.propic {
    border-radius: 100%;
}

.user-detail {
    max-width: 150;
}

.card-body > img {
    max-width: 200;
}

.media-list {
    border-top: 1px solid rgb(156, 71, 71);
}

.review-item {
    border-bottom: 1px solid #a5a5a5;
}

.nav-welcome {
    color: darkgrey;
    font-size: 11pt;
}
.home-img > img {
    height: 200;
    width: 200;
}
.carousel-inner > img {
    max-height: 600;
    max-width: 800;
}
